@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: relative;
}

.App::before {
  content: '';
  background: url('./assets/pexels-johannes-plenio-1133502.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container{
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .upper {
  width: 100%;
  margin: 1rem auto;
}

.App .desc {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.App .lower {
  display: flex;
}